/* *******Definings******** */
/********Tablet Layout*********/
@media screen and (min-width: 575px) {
  /* General */
  /* line 9, ../scss/responsive.scss */
  body, h1, h2, h3, a, p {
    text-align: left;
  }

  /* line 13, ../scss/responsive.scss */
  html {
    background: url(../images/background-wide-wallpaper-1920x1080-005.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* line 21, ../scss/responsive.scss */
  footer {
    text-align: left;
  }

  /* line 25, ../scss/responsive.scss */
  .mobile-nav {
    display: none;
  }

  /* line 29, ../scss/responsive.scss */
  .desktop-nav {
    display: inline;
  }
  /* line 31, ../scss/responsive.scss */
  .desktop-nav nav {
    text-align: left;
    color: #FFF;
    padding: 10px 7%;
  }
  /* line 36, ../scss/responsive.scss */
  .desktop-nav nav ul {
    list-style: none;
    margin: 5px 0px;
    max-width: 100%;
    padding: 0;
  }
  /* line 42, ../scss/responsive.scss */
  .desktop-nav nav li {
    display: inline-block;
    margin: 0px 2px 0px 2px;
    padding: 0;
    border-width: 0;
  }
  /* line 48, ../scss/responsive.scss */
  .desktop-nav a {
    font-size: 1em;
  }

  /* line 54, ../scss/responsive.scss */
  .desktop-nav nav a,
  .desktop-nav nav a:visited {
    color: #FFF;
  }

  /* line 56, ../scss/responsive.scss */
  .desktop-nav nav a.selected,
  .desktop-nav nav a:hover {
    color: #b6883f;
  }

  /* line 58, ../scss/responsive.scss */
  .flourish-mobile {
    display: none;
  }

  /* line 60, ../scss/responsive.scss */
  .flourish-tablet-a {
    display: block;
    text-align: center;
    padding-top: 30px;
  }

  /* line 66, ../scss/responsive.scss */
  .flourish-tablet-b {
    display: block;
    text-align: center;
  }

  /* line 71, ../scss/responsive.scss */
  .flourish-desktop {
    display: none;
  }

  /* line 73, ../scss/responsive.scss */
  .archive-panel {
    width: 86%;
    padding: 0 7%;
  }

  /* line 78, ../scss/responsive.scss */
  .archive-panel-push {
    width: 86%;
    padding: 0 7%;
  }

  /* Grow Rotate */
  /* line 85, ../scss/responsive.scss */
  .grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  /* line 96, ../scss/responsive.scss */
  .grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
    -webkit-transform: scale(1.05) rotate(2deg);
    transform: scale(1.05) rotate(2deg);
  }

  /* Home Page */
  /* line 104, ../scss/responsive.scss */
  .home-gallery li {
    width: 32%;
    margin: 0 2% 0 0;
    float: left;
    padding-top: 10px;
  }
  /* line 110, ../scss/responsive.scss */
  .home-gallery li:nth-child(3n+3) {
    margin: 0;
  }

  /* line 115, ../scss/responsive.scss */
  .blog-homepage {
    margin-top: 0;
  }
  /* line 117, ../scss/responsive.scss */
  .blog-homepage li {
    width: 47.5%;
    padding: 0 5% 0 0;
    float: left;
  }
  /* line 122, ../scss/responsive.scss */
  .blog-homepage li:nth-child(even) {
    padding: 0;
  }

  /* Blog Index */
  /* line 129, ../scss/responsive.scss */
  .blog-index h2 {
    margin-top: 35px;
  }

  /* line 133, ../scss/responsive.scss */
  .archive-panel li {
    text-align: left;
  }

  /* line 137, ../scss/responsive.scss */
  .archive-panel-push li {
    text-align: left;
  }

  /* Blog Post */
  /* line 143, ../scss/responsive.scss */
  .blog-post-recent li {
    width: 45%;
    padding: 0 5% 0 0;
    float: left;
  }

  /* Contact */
  /* line 151, ../scss/responsive.scss */
  .email h3 {
    font-size: 1.5em;
  }

  /* line 155, ../scss/responsive.scss */
  .expertise {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 158, ../scss/responsive.scss */
  .expertise ul {
    margin-bottom: 0;
  }

  /* line 161, ../scss/responsive.scss */
  .expertise-col {
    flex: 1;
    width: 45%;
    margin-right: 2%;
    padding: 0 2%;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #b6883f;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 890px) {
  /* General */
  /* line 178, ../scss/responsive.scss */
  header {
    margin-bottom: 0;
  }

  /* line 182, ../scss/responsive.scss */
  .flourish-tablet-b {
    display: none;
  }

  /* line 186, ../scss/responsive.scss */
  .paging {
    text-align: left;
  }

  /* Home Page */
  /* line 193, ../scss/responsive.scss */
  .home-gallery ul {
    margin-top: 20px;
  }
  /* line 196, ../scss/responsive.scss */
  .home-gallery li {
    width: 23%;
    margin: 0 2.666666666% 0 0;
  }
  /* line 200, ../scss/responsive.scss */
  .home-gallery li:nth-child(3n+3) {
    margin: 0 2.666666666% 0 0;
  }
  /* line 203, ../scss/responsive.scss */
  .home-gallery li:nth-child(4n+4) {
    margin: 0;
  }

  /* line 208, ../scss/responsive.scss */
  .flourish-tablet {
    padding-top: 40px;
  }

  /* Blog Index */
  /* line 214, ../scss/responsive.scss */
  .blog-index {
    width: 68%;
    float: left;
    margin: 0 0 0 7%;
    padding: 0;
  }
  /* line 219, ../scss/responsive.scss */
  .blog-index h2 {
    margin-top: 0;
  }

  /* line 224, ../scss/responsive.scss */
  .archive-panel {
    width: 15%;
    float: right;
    margin: 35px 7% 0 1%;
    padding: 0 0 0 1%;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #b6883f;
  }
  /* line 232, ../scss/responsive.scss */
  .archive-panel h2 {
    margin: 0 0 5px 0;
  }

  /* line 237, ../scss/responsive.scss */
  .archive-panel-push {
    width: 15%;
    float: right;
    margin: 102px 7% 0 1%;
    padding: 0 0 0 1%;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #b6883f;
  }
  /* line 245, ../scss/responsive.scss */
  .archive-panel-push h2 {
    margin: 0 0 5px 0;
  }

  /* line 250, ../scss/responsive.scss */
  .primary-content {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 0 1%;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #b6883f;
    margin-top: 35px;
  }

  /* Contact */
  /* line 263, ../scss/responsive.scss */
  form {
    margin-top: 0;
  }

  /* line 267, ../scss/responsive.scss */
  .contact-form {
    margin-top: 5px;
  }

  /* Blog Post */
  /* line 273, ../scss/responsive.scss */
  .year_qty {
    color: #FFF;
  }

  /* line 277, ../scss/responsive.scss */
  .contact {
    width: 86%;
    padding: 0 7%;
    margin-top: 20px;
  }

  /* line 283, ../scss/responsive.scss */
  .about {
    width: 45%;
    float: left;
    padding-right: 5%;
  }

  /* line 289, ../scss/responsive.scss */
  .contact-form {
    width: 50%;
    float: right;
  }

  /* line 294, ../scss/responsive.scss */
  .map {
    width: 100%;
    display: inline-block;
  }

  /* Email Page */
  /* line 301, ../scss/responsive.scss */
  .emails-page {
    width: 86%;
    float: left;
    margin: 25px 7% 0 7%;
    padding: 0;
  }
  /* line 306, ../scss/responsive.scss */
  .emails-page h2 {
    margin-top: 0;
  }

  /* General */
  /* line 313, ../scss/responsive.scss */
  .big-grid {
    margin-top: 25px;
  }
}
/********Desktop Layout*********/
@media screen and (min-width: 1200px) {
  /* General */
  /* line 326, ../scss/responsive.scss */
  .flourish-tablet-a {
    display: none;
  }

  /* line 327, ../scss/responsive.scss */
  .flourish-tablet-b {
    display: none;
  }

  /* line 328, ../scss/responsive.scss */
  .flourish-desktop {
    display: inline;
  }

  /* line 330, ../scss/responsive.scss */
  .home-gallery {
    width: 62%;
    float: left;
    padding: 0 0 0 7%;
  }

  /* line 336, ../scss/responsive.scss */
  .blog-homepage {
    width: 19.9%;
    float: right;
    padding: 0 7% 0 2%;
    margin: 0 0 0 2%;
    clear: none;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #b6883f;
  }
  /* line 345, ../scss/responsive.scss */
  .blog-homepage li {
    width: 100%;
    margin-bottom: 15px;
  }

  /* line 351, ../scss/responsive.scss */
  .blog-post-recent {
    width: 21.5%;
    float: right;
    padding: 0 7% 0 1.75%;
    margin: 35px 0 0 1.75%;
    clear: none;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #b6883f;
  }
  /* line 360, ../scss/responsive.scss */
  .blog-post-recent h2 {
    margin: 0 0 15px 0;
  }
  /* line 363, ../scss/responsive.scss */
  .blog-post-recent li {
    width: 100%;
    margin-bottom: 15px;
  }

  /* line 369, ../scss/responsive.scss */
  .blog-post {
    width: 60.7%;
    float: left;
    padding: 0 0 0 7%;
  }

  /* line 375, ../scss/responsive.scss */
  .comment-form {
    margin-top: 40px;
  }

  /* line 379, ../scss/responsive.scss */
  .big-grid {
    width: 61.8%;
    float: left;
    padding: 0 0 0 7%;
  }
  /* line 383, ../scss/responsive.scss */
  .big-grid li {
    width: 48.5%;
    margin: 0 3% 0 0;
    float: left;
  }
  /* line 388, ../scss/responsive.scss */
  .big-grid li:nth-child(even) {
    margin: 0;
  }
}
@media screen and (min-width: 1500px) {
  /* line 398, ../scss/responsive.scss */
  .home-gallery ul {
    margin-top: 20px;
  }
  /* line 401, ../scss/responsive.scss */
  .home-gallery li {
    width: 19%;
    margin: 0 1.25% 0 0;
  }
  /* line 405, ../scss/responsive.scss */
  .home-gallery li:nth-child(3n+3) {
    margin: 0 1.25% 0 0;
  }
  /* line 408, ../scss/responsive.scss */
  .home-gallery li:nth-child(4n+4) {
    margin: 0 1.25% 0 0;
  }
  /* line 411, ../scss/responsive.scss */
  .home-gallery li:nth-child(5n+5) {
    margin: 0;
  }
}
