/* *******Definings******** */
@import "_variables.scss";

/********Tablet Layout*********/
@media screen and (min-width: 575px) {

/* General */

body, h1, h2, h3, a, p, li {
		text-align: left;
	}

	html { 
  		background: url(../images/background-wide-wallpaper-1920x1080-005.jpg) no-repeat center center fixed; 
 		 -webkit-background-size: cover;
 		 -moz-background-size: cover;
 		 -o-background-size: cover;
 		 background-size: cover;
	}

	footer {
		text-align: left;
	}

	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		display: inline;
		nav {
		text-align: left;
	    color: #FFF;
	    padding: 10px 7%;
		}
		nav ul {
	    list-style: none;
	    margin: 5px 0px;
	    max-width: 100%;
	    padding: 0;
	    }
	    nav li {
	    display: inline-block;
	    margin: 0px 2px 0px 2px;
	    padding: 0;
	    border-width: 0;
	    }
	    a {
	    font-size: 1em;
		}
	}

	.desktop-nav nav a,
	.desktop-nav nav a:visited { color: #FFF }
	.desktop-nav nav a.selected,
	.desktop-nav nav a:hover { color: $primary-color; }

	.flourish-mobile {display: none;}

	.flourish-tablet-a {
		display: block;
		text-align: center;
		padding: 30px 0 20px 0;
	}

	.flourish-tablet-b {
		display: block;
		text-align: center;
	}

	.flourish-desktop {display: none;}

	.archive-panel {
	    width: 86%;
	    padding: 0 7%;
	}

	.archive-panel-push {
	    width: 86%;
	    padding: 0 7%;
	}

	/* Grow Rotate */

	.grow-rotate {
	    display: inline-block;
	    vertical-align: middle;
	    -webkit-transform: perspective(1px) translateZ(0);
	    transform: perspective(1px) translateZ(0);
	    box-shadow: 0 0 1px transparent;
	    -webkit-transition-duration: 0.3s;
	    transition-duration: 0.3s;
	    -webkit-transition-property: transform;
	    transition-property: transform;
	}
	.grow-rotate:hover, .grow-rotate:focus, .grow-rotate:active {
	    -webkit-transform: scale(1.05) rotate(2deg);
	    transform: scale(1.05) rotate(2deg);
	}

	/* Home Page */

	.home-gallery {
		li {
		width: 32%;
		margin: 0 2% 0 0;
		float: left;
		padding-top: 10px;
		}
		li:nth-child(3n+3) {
		margin: 0;
		}
	}

	.blog-homepage {
		margin-top: 0;
		li {
		width: 47.5%;
		padding: 0 5% 0 0;
		float: left;
		}
		li:nth-child(even) {
		padding: 0;
		}
	}

/* Blog Index */

	.archive-panel li {
		text-align: left;
	}

	.archive-panel-push li {
		text-align: left;
	}

/* Blog Post */

	.blog-post-recent li {
		width: 45%;
		padding: 0 5% 0 0;
		float: left;
	}

/* Contact */

	.email h3{
	    font-size: 1.5em;
	}

	.expertise {
		display: flex;
		flex-wrap: wrap;
		ul {margin-bottom: 0;}
	}

	.expertise-col {
		flex: 1;
		width: 45%;
		margin-right: 2%;
		padding: 0 2%;
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: $primary-color;
		margin-bottom: 30px;
	}

}

@media screen and (min-width: 890px) {

/* General */

	header {
	    margin-bottom: 0;
}

	.flourish-tablet-b {
		display: none;
	}

	.paging {
		text-align: left;
	}

/* Home Page */

	.home-gallery {
		ul {
		margin-top: 20px;
		}
		li {
		width: 23%;
		margin: 0 2.666666666% 0 0;
		}
		li:nth-child(3n+3) {
		margin: 0 2.666666666% 0 0;
		}
		li:nth-child(4n+4) {
		margin: 0;
		}
	}

	.flourish-tablet {
		padding-top: 40px;
	}

/* Blog Index */

	.blog-index {
		width: 68%;
		float: left;
		margin: 0 0 0 7%;
		padding: 0;
	}

	.archive-panel {
		width: 15%;
		float: right;
		margin: 35px 7% 0 1%;
		padding: 0 0 0 1%;
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: $primary-color;
	}

	.archive-panel-push {
		width: 15%;
		float: right;
		margin: 102px 7% 0 1%;
		padding: 0 0 0 1%;
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: $primary-color;
	}

	.primary-content {
	    display: inline-block;
	    width: 30%;
	    vertical-align: top;
		padding: 0 1%;
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: $primary-color;
		margin-top: 35px;
	}

/* Contact */

	form {
		margin-top: 0;
	}

	.contact-form {
		margin-top: 5px;
	}

/* Blog Post */

	.year_qty {
		color: #FFF;
	}

	.contact {
	    width: 86%;
	    padding: 0 7%;
	    margin-top: 20px;
	}

	.about {
		width: 45%;
		float: left;
		padding-right: 5%;
	}

	.contact-form {
		width: 50%;
		float: right;
	}

	.map {
		width: 100%;
		display: inline-block;
	}

/* Email Page */

	.emails-page {
		width: 86%;
		float: left;
		margin: 25px 7% 0 7%;
		padding: 0;
	}

/* General */

	.big-grid {
		margin-top: 25px;
	}

}


/********Desktop Layout*********/

@media screen and (min-width: 1200px) {

/* General */

	.flourish-tablet-a { display: none;}
	.flourish-tablet-b { display: none;}
	.flourish-desktop { display: inline;}

	.home-gallery {
		width: 62%;
		float: left;
		padding: 0 0 0 7%;
	}

	.blog-homepage {
		width: 19.9%;
		float: right;
		padding: 0 7% 0 2%;
		margin: 0 0 0 2%;
		clear: none;
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: $primary-color;
		li {
		width: 100%;
		}
		.hentry {
			margin-bottom: 30px;
		}
	}

	.twitter-widget {
		margin-bottom: 30px;
	}

	.blog-post-recent {
		width: 21.5%;
		float: right;
		padding: 0 7% 0 1.75%;
		margin: 25px 0 0 1.75%;
		clear: none;
		border-style: solid;
		border-width: 0 0 0 1px;
		border-color: $primary-color;
	}

	.blog-post {
		width: 60.7%;
		float: left;
		padding: 0 0 0 7%;
	}

	.comment-form {
		margin-top: 40px;
	}  

	.big-grid {
		width: 61.8%;
		float: left;
		padding: 0 0 0 7%;
		li {
		width: 48.5%;
		margin: 0 3% 0 0;
		float: left;
		}
		li:nth-child(even) {
		margin: 0;
		}
	}

}

@media screen and (min-width: 1500px) {

	.home-gallery {
		ul {
		margin-top: 20px;
		}
		li {
		width: 19%;
		margin: 0 1.25% 0 0;
		}
		li:nth-child(3n+3) {
		margin: 0 1.25% 0 0;
		}
		li:nth-child(4n+4) {
		margin: 0 1.25% 0 0;
		}
		li:nth-child(5n+5) {
		margin: 0;
		}
	}
}