/* *******Global******** */
@import "_normalize.scss";
@import "_lightbox.scss";

/* *******Definings******** */
@import "_variables.scss";
@import "_type.scss";

/* *******General******** */

html { background-color: #000 }

img {
    text-align: center;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {text-align: center;}

.flourish-mobile {
    display: inline-block;
    img {margin: 20px 0 5px 0;}
}

.flourish-tablet-a {
    display: none;
    clear: left;
}

.flourish-tablet-b {
    display: none;
    clear: left;
}

.flourish-desktop {display: none;}

.paging {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: 'Rokkitt', serif;
    color: $primary-color;
    display: inline-block;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 0 15px 0;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* *******Navigation******** */

nav {
    color: $primary-color;
    text-align: center;
    padding: 10px 15%;
    
    ul {
    list-style: none;
    margin: 5px 0;
    max-width: 100%;
    padding: 0;
    }
    
    li {
    padding: 5px 0 3px 0;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: $primary-color;
}   
    
    a {
    font-size: 1.5em;
    }
}  

nav a,
nav a:visited { color: #FFF }
nav a.selected,
nav a:hover { color: $primary-color; }

.rollover a {
    display : block;
    width : 13px;
    height : 14px;
    background-image: url(../images/home-icon-black.png);
}

.rollover a:hover {
    display : block;
    width : 13px;
    height : 14px;
    background-image: url(../images/home-icon-black.png);
}

.desktop-nav {
    display: none;
}

/* *******Header******** */

header {
    
    padding: 0 7%;
    width: 86%;
    margin-bottom: 25px;
}

/* Footer */

footer {
    
    text-align: center;
    clear: both;
    padding: 50px 7% 10px 7%;
    
    ul {
    padding: 0;
    margin: 0;
    }

    li {
    list-style: none;
    display: inline-block;
    margin: 0 3px 0 0;
    padding: 0;
    }
}

/* Home Page */

.home-gallery {
    
    padding: 0 7%;
    width: 86%;

    ul {
    padding: 0;
    list-style: none;
    }

    p {
    color: #FFF;
    }
}

.blog-homepage {
    
    padding: 0 7%;
    margin-top: 20px;
    width: 86%;
    clear: left;

    h2 {
    color: $primary-color;
    margin: 10px 0 5px 0;
    }

    h3 {
    margin: 15px 0 5px 0;
    }
}

/* Blog Index */

.blog-index {
    
    width: 86%;
    padding: 0 7%;
    display: inline-block;
    vertical-align: top;

    li {
        list-style: none;
        display: inline-block; 
    }

    h2 {
        margin-bottom: 10px; 
    }

    a {
        color: #fff; 
    }
}

/* Blog Post */

.blog-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.blog-post {
    width: 86%;
    padding: 0 7%;

    p {
    margin-bottom: 15px;
    }

    img {
    margin-bottom: 10px;
    max-width: none;
    width: 100%;
    }
}

.blog-post-recent {
    padding: 0 7%;
    width: 86%;
    clear: left;
    margin-top: 20px;

    h2 {
    color: $primary-color;
    margin: 35px 0 5px 0;
    }

    h3 {
    margin: 15px 0 5px 0;
    }
}

.addthis_sharing_toolbox {
    margin-top: 30px;
}

/* Emails Page */

.emails-page {
    
    width: 86%;
    padding: 0 7%;
    display: inline-block;
    vertical-align: top;

    li {
    list-style: none;
    display: inline-block;
    width: 100%;
    }

    h2 {
    margin-bottom: 10px; 
    }

    img {max-width: none;}
}

/* Archive */

.archive-panel {
   li {
    display: list-item;
    }
    ul {
    margin-bottom: 10px;
    }
}

.archive-panel-push { 
    li {
    display: list-item;
    }
    ul {
    margin-bottom: 10px;
    }
}        

/* Contact */

.about ul {
    margin-bottom: 30px;
}

.contact {
    width: 86%;
    padding: 0 7%;
    text-align: center;
    display: inline-block;
    h1 {
    margin-top: 10px;
    }
    img {
    margin: 35px 0 0 0;
    }
}

.map {
    margin-top: 35px;
}

.email h3 {
    font-size: 1em;
    color: $primary-color;
}

.expertise h3 {
    color: $primary-color;
}

/* Form */

form {
    border-style: solid;
    border-width: 1px;
    border-color: $primary-color;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
    width: 90%;
    margin-top: 35px;
    text-align: left;
    font-family: 'Rokkitt', serif;
    div {
    margin-bottom: 10px;
    }    
    input, textarea {
    font-family: 'Rokkitt', serif;
    width: 98%;
    border: none;
    padding: 5px 1%;
    }
    textarea {
    height: 200px;
    }   
    legend {
    color: #FFF;
    font-size: 1.5em;
    line-height: 0.9em;
    margin: 5px 0;
    }   
    label {
    color: #FFF;
    padding-top: 10px;
    }
    fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    }
    input[type=submit] {
    font-family: 'Rokkitt', serif;
    font-size: 1.2em;
    color: $text-color;
    margin-top: 15px;
    padding: 10px 0;
    width: 30%;
    margin: 5px 35% 0 35%;
    border-radius: 5px;
    background-color: $primary-color;
    }
}

/* General */

.big-grid {
    padding: 0 7%;
    width: 86%;
    img {
    margin-bottom: 20px;
    width: 100%;
    }
}


/* Nav Bar */

.mobile-nav {
    text-align: center;
    margin-top: 30px;
}

.mobile-nav button:focus { outline: none; }

.mobile-nav button {
    text-align: center;
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
}

.open-close-button svg g:nth-child(3) {
  display: inherit;
}

.open-close-button svg g:nth-child(2) {
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  transform-origin: 50% 50%;
}

/*.open-close-button.open svg g:nth-child(3) {
  display: none;
}*/

.open-close-button.open svg g:nth-child(2) {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

.mobile-nav-links {display:none;}
.mobile-nav-links.open {display:inline-block;}