<perch:form id="contact" method="post" app="perch_forms">

<fieldset>

<legend>Get in touch...</legend>	

<div>
<perch:label for="name">Name:<br></perch:label>
<perch:input id="name" required="true" type="text" label="Name" />
</div>	

<div>
<perch:label for="mail">Email:<br></perch:label>
<perch:input id="mail" required="true" type="text" label="Email" />
</div>	

<div>
<label for="comments">How can I help?:<br></label>
<perch:input id="comments" required="true" type="textarea" label="Comments" />
</div>	

<div>
<perch:input type="submit" id="submit" value="Send" />
</div>

</fieldset>

<perch:success>
<perch:content id="thankyou" label="Success message" type="textarea" textile="true" editor="markitup" />
</perch:success>

</perch:form>