<div class="primary-content">
    <perch:before>
    <ul class="hfeed listing"></perch:before>
        <li class="hentry">
            <h2><a href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title"><perch:blog id="postTitle" /></a></h2>
            <perch:if exists="image"><img src="<perch:blog id="image" type="image" width="50" height="50" />" alt="<perch:blog id="postTitle" />" /></perch:if>
            <p class="entry-published date"><perch:blog id="postDateTime" format="%d %B %Y" /></p>
            <div class="description entry-summary">
            <perch:blog id="excerpt" type="textarea" textile="true" />
            <p>Comments: <perch:blog id="postCommentCount"/></p>
            </div>
            <div class="flourish-mobile">
                <img src="../../../images/flourish.svg">
            </div>
            <div class="flourish-tablet-b">
                <img src="../../../images/flourish.svg">
            </div>
        </li>
    </ul>    
    <perch:after>
        <perch:if exists="paging">
            <div class="paging">
                Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" />
                <perch:blog id="page_links" encode="false" />
                <perch:if exists="not_first_page">
                    <a href="<perch:blog id="prev_url" encode="false" />">&nbsp;&nbsp;Previous</a>
                </perch:if>
                <perch:if exists="not_last_page">
                    <a href="<perch:blog id="next_url" encode="false" />">&nbsp;&nbsp;Next</a>
                </perch:if>
            </div>
        </perch:if>
    </perch:after> 
</div>    