@import url("old-style.css");
@import url(https://fonts.googleapis.com/css?family=Holtwood+One+SC);

.menu-image-title {display: none;}

#navigation {
	padding-top: 46px;
}

#navigation .nav li a {
	padding: 0;
}

body {
	font-family: "Holtwood One SC", serif;
	color: #FFFFFF;
	/*background-image: url("images/dark-textured-background9.jpg");*/
	background: #000000;
}

h1, h2, h3, h4, h5, h6 {
	color: #b6883e;
}

.infobox .entry-excerpt {color: #FFFFFF;}

.menu-box li .title span {background: #000000;}

.menu-box li .title a {
	color: #b6883e;
}

.price {
	color: #b6883e;
}

.nice-contact-sidebar {color: #FFFFFF;}

.day .name {color: #b6883e;}

.nice-contact-form label {color: #FFFFFF;}

#footer {
	background: transparent;
}

#footer-widgets .widget_nice_opening_hours .day .name {
	color: #b6883e;
}

#footer-widgets .widget {
	color: #FFFFFF;
}

#footer-widgets .widget_nice_opening_hours .day {
	border-bottom-color: #b6883e;
}

.textwidget p {
	font-family: 'Gudea';
}

.hours span {
	font-family: 'Gudea';
}

#footer {
	font-family: 'Gudea';
	color: #FFFFFF;
	border: none;
	text-shadow: none;
	padding-top: 0;
	font-size: 1em;
}

.name {
	font-family: "Holtwood One SC", serif;
}

.textwidget span {
	font-family: "Holtwood One SC", serif;
	color: #b6883e;
}

#extended-footer {
	background: transparent;
	color: #FFFFFF;
	a {color: #b6883e;}
}

.nice-contact-sidebar {
	font-family: 'Gudea';
}

.nice-contact-sidebar h3 {
	font-family: "Holtwood One SC", serif;
}

#nice_contact {
	font-family: 'Gudea';
}

input[type=submit], button, #commentform .button, #respond input[type="submit"], .nice-contact-form input[type="submit"] {
	background: #b6883e;
	color: #FFFFFF;
	font-family: "Holtwood One SC", serif;
}

.infobox li {
	border-style: solid;
	border-color: #FFFFFF;
}

.entry-title {
	font-size: 1em;
	color: #FFFFFF;
	vertical-align: top;
}

.entry-title span {
	display: none;
}

.entry-title img {
	width: 100%;
}

header span {
	display: none;
}

header {
	margin-bottom: 20px;
}

.menu {
	background-image: url("images/menu-header.svg");
	padding-top: 90px;
	background-repeat: no-repeat;
}

.testimonials-header-image {
	background-image: url("images/testimonials-header.svg");
	padding-bottom: 120px;
	background-repeat: no-repeat;
}

.gallery-header-image {
	background-image: url("images/gallery-header.svg");
	padding-bottom: 120px;
	background-repeat: no-repeat;
}

.menu-box {
	background-image: url("images/divider-device.svg");
	padding-bottom: 70px;
	margin-bottom: 45px;
	background-repeat: no-repeat;
	background-position: center bottom;
	border: none;
	display: block;
}

.contact-us {
	background-image: url("images/contact-us-header.svg");
	padding-top: 120px;
	background-repeat: no-repeat;
}


.infobox .entry-title {
	background-image: url("images/divider-device-up.svg");
	background-repeat: no-repeat;
	background-size: contain;
	border-top-color: transparent;
}

.infobox .entry-excerpt {
	text-align: center;
	background-image: url("images/divider-device-down.svg");
	padding-bottom: 30px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.entry-title {
	text-align: center;
	display: none;
}

#wrapper, .infobox .entry-title {
	border-top: 0;
}

.infobox .entry-title {
	padding-top: 50px;
}

/*.infobox li {
	border-style: none;
}

.infobox li.last, .pre-footer-widgets div.last {
	border-style-left: none;
}*/

.infobox li.last, .pre-footer-widgets div.last {
	border-right: 1px solid #FFFFFF;
}

.entry .testimonial blockquote {
	font-family: "Holtwood One SC", serif;
	color: #FFFFFF;
	width: 60%;
}

ul.three-col-grid {
	padding-bottom: 0;
}

ul.three-col-grid li {
	margin-bottom: 0;
}

.footer-logo img {
	width: 15%;
	margin-top: 25px;
}

#extended-footer p {
	font-family: 'Gudea';
	color: #FFFFFF;
	border: none;
	text-shadow: none;
	padding-top: 0;
	font-size: 1em;
}

/* ==========================================================================
	   IPad
========================================================================== */

@media screen and (max-width: 1024px) {

	.contact-us, .menu, .testimonials-header-image, .gallery-header-image {
		padding-top: 0;
		padding-bottom: 0;
		background-image: none;
	}

	#logo img {
		width: 80%;
	}

	.infobox li.last, .pre-footer-widgets div.last {
	border-right: none;
}
}

body.page-template-template-home-php #container { 
	border-top: 4px double #eee; padding-top: 10px; 
	}

/* ==========================================================================
	   Mobile
========================================================================== */

@media screen and (max-width: 860px) {

  #extended-footer {
  	width: 730px;
  	margin: 0 auto;
	}

  #logo img {
	padding-top: 30px;
	}
}
